/*blog*/

/*item destacado*/

* {
	outline: none;
}

.entradas {
	background-color: #FFF;
	padding: 10px 10px 10px 10px;
}

.blog-cont {
	background-color: #FFF;
	height: 100%;
	position: relative;
	height: auto;
}

.btnComp {
	height: 80px !important;
	display: block;
	overflow: hidden;
}

.txt-aut {
	text-align: center;
	display: block;
	overflow: hidden;
}

.img-rounded {
	border-radius: 0px !important;
}

/**/

.title1 {
	color: #7B7B7B;
	font-size: 2em;
}

.title1 a {
	color: #7B7B7B;
}

.title1 a:hover {
	color: #EE9A71;
	text-decoration: none;
}

.title2 {
	color: #7B7B7B;
	font-size: 3em;
}

.tags {
	font-size: 1.2em;
	background-color: #E2E2E2;
	padding: 5px;
	margin: 4px;
	font-weight: bold;
	float: left;
	display: block;
}

/*comentarios*/

.nombre {
	font-size: 1.5em;
	width: 100%;
	font-weight: bold;
}

.comentario {
	font-size: 1em;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}

/*fin comentarios*/

.marcador {
	background-color: #FFFD6C;
	font-weight: bold;
}

/*item*/

.item-servicios {
	float: right;
	margin: 10px;
}

.mas_blogs {
	background-color: #5029D2;
	color: #fff;
	border: none;
	font-family: nexa_bold;
	position: absolute;
	border-radius: 25px;
}

.wrapper-content {
	background-color: rgba(0, 0, 0, 0.65);
	padding-bottom: 35px;
	position: relative;
	margin: -15px;
}

.img-autor {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 40px;
	-webkit-box-shadow: -1px 4px 17px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 4px 17px -5px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 4px 17px -5px rgba(0, 0, 0, 0.75);
}

.p-autor {
	font-family: nexa_light;
	text-align: center;
	text-transform: capitalize;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #000;
}

.item {
	margin: auto;
	display: block;
	overflow: hidden;
	border-radius: 80px;
}

.thumbnail-blog {
	width: 100%;
	height: auto;
	margin: auto;
	display: block;
	border-radius: 80px;
}

.ver_mas {
	color: #000;
	background-color: #ccc;
	font-family: nexa_bold;
	display: block;
	margin: auto;
	position: absolute;
	border-radius: 25px;
}

.ver_mas:hover,
.ver_mas:active {
	color: #000;
	opacity: 0.8;
}

.mas_blogs {
	-webkit-box-shadow: -1px 4px 17px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 4px 17px -5px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 4px 17px -5px rgba(0, 0, 0, 0.75);
}

.btn-search-blog {
	position: absolute;
	width: 90%;
	height: 80px;
	margin: auto;
	top: 230px;
	z-index: 9;
	padding: 10px;
}

.btn-search-blog input {
	float: left;
	outline: none;
	border-radius: 25px 0 0 25px;
	-moz-border-radius: 25px 0 0 25px;
	-webkit-border-radius: 25px 0 0 25px;
	height: 40px;
	border: 2px solid #5029D2;
	border-right: none;
}

.btn-search-blog button {
	float: right;
	border-radius: 0 25px 25px 0;
	-moz-border-radius: 0 25px 25px 0;
	-webkit-border-radius: 0 25px 25px 0;
	height: 40px;
	display: block;
	color: #5029D2;
	background-color: #fff;
	font-size: 18px;
	border: 2px solid #5029D2;
}

.btn-search-blog button:hover {
	text-decoration: none;
	background-color: #5029D2;
	color: #FFF;
}

/*movil 1*/

@media (min-width: 320px) {
	.btn-back {
		top: 145px;
		position: absolute;
		left: 50%;
		margin-left: -55;
		width: 110px;
		-webkit-border-radius: 20;
		-moz-border-radius: 20;
		border-radius: 20px;
		color: #ffffff;
		font-size: 17px;
		background: #ebab2c;
		padding: 5px 10px 5px 10px;
		text-decoration: none;
		z-index: 50;
		text-align: center;
	}
	.btn-back:hover {
		background: #fc8f3c;
		text-decoration: none;
		color: #ffffff;
	}
	.cont-autor {
		width: 100%;
		display: block;
		position: absolute;
		overflow: hidden;
		top: 70px;
		height: 180px;
		margin: 10px -15px;
	}
	.img-autor {
		width: 115px !important;
		height: 115px;
	}
	.p-autor {
		margin-top: 10px;
	}
	.item {
		margin-bottom: 65px;
	}
	.item .cat {
		text-align: center;
	}
	.item h2 {
		text-align: center;
		width: 100%;
		display: block;
		font-size: 1.2em;
	}
	.item .desc-corta {
		text-align: center;
		width: 100%;
		display: block;
	}
	.item .fecha {
		text-align: center;
		width: 100%;
		display: block;
	}
	.thumbnail-blog {
		width: 285px;
		height: 285px;
	}
	.ver_mas {
		position: absolute;
		left: 35%;
		margin: 10px 0;
		padding: 7px 25px;
	}
	.blog {
		width: 100%;
		margin: 0 auto;
	}
	.mas_blogs {
		bottom: -20px;
		left: 37%;
		padding: 7px 25px;
	}
	.wrapper-content {
		margin-top: 260px;
	}
	/*edit profile*/
	.perfil {
		margin-top: 30px;
		margin-bottom: 15px;
		width: 100%;
		height: 250px;
		background-color: #EAEAEA;
		padding: 0px;
	}
	.perfil img {
		float: left;
		margin-right: 20px;
		margin-top: 5px;
	}
	.perfil p {
		width: 100%;
		height: auto;
		text-align: left;
	}
	.perfil h5 {
		width: 100%;
		height: auto;
		text-align: left;
		color: #015DA4;
		font-size: 1.5em;
	}
	.plugin-fb {
		width: 90%;
		position: relative;
		display: inline-block;
		text-align: center;
		float: right;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	/*load categorias*/
	.cont-categoria {
		float: left;
		width: 100%;
		height: auto;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.box-item {
		float: left;
		width: 100%;
		margin-bottom: 10px;
		display: inline-block;
	}
	.box-item p {
		float: left;
		width: 80%;
		display: inline-block;
		font-size: 1.5em;
	}
	.box-item a {
		text-decoration: none;
	}
	.box-item a:hover {
		text-decoration: none;
		color: #0B84F5;
	}
	.img-cat {
		float: left;
		width: 80%;
		height: 130px;
		height: auto;
		margin-bottom: 5px;
		display: inline-block;
	}
	.portada {
		width: 100%;
		height: 55vh;
		overflow: hidden;
		padding: 0px;
		position: relative;
	}
	.portada-destacado {
		width: 100%;
		height: 920px;
	}
	.destacado {
		position: absolute;
		top: 110px;
	}
	.dest-box {
		margin: 0 auto;
		width: 100%;
		height: 305px;
		margin-top: 15px;
	}
	.dest-img {
		margin: 0 auto;
	}
	.dest-titles {
		width: 100%;
		float: right;
		color: #FFF;
		text-align: center;
		margin-bottom: 80px;
	}
	.dest-titles h3 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
	}
	.dest-titles p {
		margin-top: 15px;
		margin-bottom: 30px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
	}
	.dest-btn {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0px;
		font-family: Arial;
		color: #ffffff;
		font-size: 18px;
		background: #11997e;
		padding: 10px 20px 10px 20px;
		text-decoration: none;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
	}
	.dest-btn:hover {
		background: #4a9e7e;
		text-decoration: none;
		color: #FFF;
	}
	.btn-search-blog {
		position: absolute;
		width: 90%;
		height: 80px;
		margin: auto;
		top: 230px;
		z-index: 8;
		padding: 10px;
		left: 5%;
	}
	.btn-search-blog input {
		width: 80%;
		height: 40px;
		padding: 10px;
	}
	.btn-search-blog button {
		width: 20%;
		height: 40px;
		font-size: 18px;
	}
	.aside {
		margin-top: 50px;
		width: 100%;
		height: 1100px;
		overflow: auto;
		padding-right: 10px;
	}
	.asideB {
		margin-top: 50px;
		width: 100%;
		height: 1800px;
		overflow: auto;
		padding-right: 10px;
	}
	/*CSS item blog*/
	.user {
		width: 200px;
		height: 150px;
		position: absolute;
		top: -50px;
		left: 50%;
		margin-left: -100px;
		text-align: center;
		color: #FFF;
	}
	.colorGradient {
		height: 45px;
		background-color: #5129d6;
		background: linear-gradient(to right, #D5C1C28a, #5129d6f0);
		position: relative;
		top: -45px;
	}
	.colorBlack {
		background-color: #E0E0E0;
		height: 100px;
		top: -46px;
		-webkit-box-shadow: -1px 4px 17px -5px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: -1px 4px 17px -5px rgba(0, 0, 0, 0.75);
		box-shadow: -1px 4px 17px -5px rgba(0, 0, 0, 0.75);
	}

	.autor_min {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100px;
		height: 100px;
		border-radius: 25px;
		-webkit-box-shadow: -1px 4px 20px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: -1px 4px 20px 0px rgba(0, 0, 0, 0.75);
		box-shadow: -1px 4px 20px 0px rgba(0, 0, 0, 0.75);
	}
	.btnComp{
		margin-top: 35px;
		margin-bottom: 40px;
		background-color: #1f1f1f;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: visible;
		margin-left: -15px;
		position: relative;
		margin-right: -15px;
		-webkit-box-shadow: -1px 0px 21px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 0px 21px -1px rgba(0,0,0,0.75);
		box-shadow: -1px 0px 21px -1px rgba(0,0,0,0.75);
	}
	.share {
		border: none;
		background-color: #e0e0e0;
		font-family: nexa_bold;
		position: absolute;
		top: -15px;
		border-radius: 25px;
		padding: 5px 15px;
		-webkit-box-shadow: -1px 0px 21px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 0px 21px -1px rgba(0,0,0,0.75);
		box-shadow: -1px 0px 21px -1px rgba(0,0,0,0.75);
	}
	.rrssb-buttons {
		width: 90% !important;
		max-width: 303px;
		margin: auto;
	}
	.rrssb-buttons li a {
		padding: 0 !important;
		border-radius: 50% !important;
		height: 30px !important;
		width: 30px !important;
		padding: 0px 0 !important;
		margin: 0 calc((303px - 180px)/8) 0 0 !important;
	}
	.rrssb-buttons li a:nth-last-child {
		margin-right: 0;
	}
	.rrssb-buttons li a .rrssb-icon {
		top: -2px !important;
		left: 7px !important;
	}
	legend {
		font-family: nexa_bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	#frm-comentarios label {
		font-family: nexa_light;
		font-size: 14px;
		padding-left: 15px;
	}
	#frm-comentarios .form-control {
		border: none;
		border-radius: 25px;
		background-color: #e0e0e0;
		outline: none;
		box-shadow: none;
	}
	textarea {
	  resize: none;
	}
	#guardar {
		border: none;
		border-radius: 25px;
		background-color: #5029D2;
		color: #fff;
		-webkit-box-shadow: -2px 1px 21px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: -2px 1px 21px -5px rgba(0,0,0,0.75);
		box-shadow: -2px 1px 21px -5px rgba(0,0,0,0.75);
	}
	.autor_name {
		margin: 5px 0 0;
		font-family: nexa_bold;
		color: #000;
		font-size: 14px;
	}
	.autor_puesto {
		font-family: nexa_light;
		margin: 5px 0 0;
		color: #000;
		font-size: 12px;
	}
	.img-PB {
		width: 100%;
		height: 400px;
		z-index: -1;
		position: relative;
	}
	.box-title {
		width: 100%;
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 10px;
		height: 250px;
		position: absolute;
		top: 100px;
		text-align: center;
		border-radius: 100px;
		color: #FFF;
		background-color: rgba(0, 0, 0, 0.75);
	}
	.blog_title {
		font-size: 2em;
		font-family: nexa_light;
	}
	.title_bold {
		font-family: nexa_bold;
	}
	.fecha {
		font-family: nexa_light;
		margin: 0;
		position: relative;
		top: 20px;
	}
	.nota {
		width: 100%;
		margin: 0px;
		overflow: visible;
	}
	.ulCat {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.ulCat li {
		font-size: 1.5em;
	}
	.ulCat li a {
		display: block;
		padding: 5px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0px;
		font-family: Arial;
		color: #3d3d3d;
		font-size: 20px;
		background: #e6e6e6;
		padding: 10px 20px 10px 20px;
		text-decoration: none;
	}
	.ulCat li a:hover {
		background: #629FB7;
		text-decoration: none;
	}
	.ulAutor {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
		display: block;
		overflow: hidden;
		height: auto;
	}
	.ulAutor li {
		margin-bottom: 10px;
		float: left;
		width: 48%;
	}
	.ulAutor .nombre {
		font-weight: bold;
		font-size: 1em;
	}
	.ulAutor .puesto {
		font-size: 0.8em;
	}
	.aslide h3 {
		text-align: center;
	}
	.item-notRel {
		float: left;
		display: block;
		width: 100%;
		height: 360px;
		margin-bottom: 40px;
		overflow: hidden;
	}
	.item-notRel .cat {
		text-align: center;
	}
	.item-notRel h2 {
		text-align: center;
		width: 100%;
		display: block;
		font-size: 1.2em;
	}
	.item-notRel .desc-corta {
		text-align: center;
		width: 100%;
		display: block;
	}
	.item-notRel .fecha {
		text-align: center;
		width: 100%;
		display: block;
	}
}

/*tablet 1*/

@media (min-width: 450px) {
	.btn-back {
		top: 145px;
		position: absolute;
		left: 50%;
		margin-left: -55;
		width: 110px;
		-webkit-border-radius: 20;
		-moz-border-radius: 20;
		border-radius: 20px;
		color: #ffffff;
		font-size: 17px;
		background: #ebab2c;
		padding: 5px 10px 5px 10px;
		text-decoration: none;
		z-index: 50;
		text-align: center;
	}
	.btn-back:hover {
		background: #fc8f3c;
		text-decoration: none;
		color: #ffffff;
	}
	.wrapper-content {
		margin-top: 85px;
	}
	.clearPad {
		padding: 0px !important;
	}
	.cont-autor {
		width: 100%;
		display: block;
		position: relative;
		overflow: hidden;
		top: 70px;
		height: 180px;
		padding-top: 10px;
	}
	.img-autor {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 115px !important;
		height: 115px;
		margin-bottom: 10px;
	}
	.thumbnail-blog {
    width: 300px;
    height: 300px;
	}
	.p-autor {
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		color: #000;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.btn-search-blog {
		position: absolute;
		width: 90%;
		height: 80px;
		margin: auto;
		top: 245px;
		z-index: 8;
		left: 5%;
		padding: 10px;
	}
	.btn-search-blog input {
		width: 80%;
		height: 40px;
		padding: 10px;
	}
	.btn-search-blog button {
		width: 20%;
		height: 40px;
		font-size: 18px;
	}
	.item {
		width: 300px;
		height: 300px;
		margin-bottom: 75px;
		overflow: hidden;
		box-shadow: 4px 4px 5px #0000001a;
	}
	.item .cat {
		text-align: center;
	}
	.item h2 {
		text-align: center;
		width: 100%;
		display: block;
		font-size: 1.2em;
	}
	.item .desc-corta {
		text-align: center;
		width: 100%;
		display: block;
	}
	.item .fecha {
		text-align: center;
		width: 100%;
		display: block;
	}
	.ver_mas {
		padding: 7px 25px;
		margin-top: 15px;
		margin-bottom: 25px;
		left: 40%;
	}
	.mas_blogs {
		padding: 7px 25px;
		margin-top: 15px;
		bottom: -15px;
		left: 39%;
	}
	.blog {
		width: 100%;
		margin: 0 auto;
	}
	/*edit profile*/
	.perfil {
		margin-top: 30px;
		margin-bottom: 15px;
		width: 100%;
		height: 200px;
		background-color: #EAEAEA;
		padding: 10px;
		overflow: hidden;
	}
	.perfil img {
		float: left;
		margin-right: 20px;
		margin-top: 5px;
	}
	.perfil p {
		width: 100%;
		height: auto;
		text-align: left;
	}
	.perfil h5 {
		width: 100%;
		height: auto;
		text-align: left;
		color: #015DA4;
		font-size: 1.5em;
	}
	.plugin-fb {
		width: 90%;
		position: relative;
		display: inline-block;
		text-align: center;
		float: right;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	/*load categorias*/
	.cont-categoria {
		float: left;
		width: 100%;
		height: auto;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.box-item {
		float: left;
		width: 100%;
		margin-bottom: 10px;
		display: inline-block;
	}
	.box-item p {
		float: left;
		width: 80%;
		display: inline-block;
		font-size: 1.5em;
	}
	.box-item a {
		text-decoration: none;
	}
	.box-item a:hover {
		text-decoration: none;
		color: #0B84F5;
	}
	.img-cat {
		float: left;
		width: 80%;
		height: 130px;
		height: auto;
		margin-bottom: 5px;
		display: inline-block;
	}
	.portada {
		width: 100%;
		height: 500px;
		overflow: hidden;
		padding: 0px;
		position: relative;
	}
	.portada-destacado {
		width: 100%;
		height: 920px;
	}
	.destacado {
		position: absolute;
		top: 110px;
	}
	.aside {
		margin-top: 50px;
		width: 100%;
		height: 1100px;
		overflow: auto;
		padding-right: 10px;
	}
	.asideB {
		margin-top: 50px;
		width: 100%;
		height: 1800px;
		overflow: auto;
		padding-right: 10px;
	}
	.user {
		width: 350px;
		height: 150px;
		top: -60px;
		left: 50%;
		margin-left: -175px;
	}
	.colorGradient {
		height: 65px;
		top: -65px;
	}
	.colorBlack {
		height: 105px;
     top: -65px;
	}

	.fecha {
		margin-top: 8%;
		top: auto;
	}
	.img-PB {
		width: 100%;
		height: 500px;
		z-index: -1;
		position: relative;
	}
	.rrssb-buttons {
		max-width: 390px;
	}
	.rrssb-buttons li a {
    margin: 0 calc((390px - 180px)/14) 0 !important;
}
	.box-title {
		padding-left: 60px;
		padding-right: 60px;
		top: 30%;
	}
	.box-title h1 {
		font-size: 2.5em;
	}
	.nota {
		width: 100%;
		margin: 0px;
	}
	.ulCat {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.ulCat li {
		font-size: 1.5em;
	}
	.ulCat li a {
		display: block;
		padding: 5px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0px;
		font-family: Arial;
		color: #3d3d3d;
		font-size: 20px;
		background: #e6e6e6;
		padding: 10px 20px 10px 20px;
		text-decoration: none;
	}
	.ulCat li a:hover {
		background: #629FB7;
		text-decoration: none;
	}
	.ulAutor {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
		display: block;
		overflow: hidden;
		height: auto;
	}
	.ulAutor li {
		margin-bottom: 10px;
		float: left;
		width: 30%;
	}
	.ulAutor .nombre {
		font-weight: bold;
		font-size: 1em;
	}
	.ulAutor .puesto {
		font-size: 0.8em;
	}
	.aslide h3 {
		text-align: center;
	}
	.item-notRel {
		float: left;
		display: block;
		width: 100%;
		height: auto;
		margin-bottom: 40px;
		overflow: hidden;
	}
	.item-notRel .cat {
		text-align: center;
	}
	.item-notRel h2 {
		text-align: center;
		width: 100%;
		display: block;
		font-size: 1.2em;
	}
	.item-notRel .desc-corta {
		text-align: center;
		width: 100%;
		display: block;
	}
	.item-notRel .fecha {
		text-align: center;
		width: 100%;
		display: block;
	}
}

/*tablet 2*/

@media (min-width: 768px) {
	.btn-back {
		margin-top: 40px;
		-webkit-border-radius: 20;
		-moz-border-radius: 20;
		border-radius: 20px;
		color: #ffffff;
		font-size: 17px;
		background: #ebab2c;
		padding: 10px 20px 10px 20px;
		text-decoration: none;
		display: block;
		position: relative;
		width: 110px;
	}
	.btn-back:hover {
		background: #fc8f3c;
		text-decoration: none;
		color: #ffffff;
	}
	.wrapper-content {
		margin-top: -120px;
		padding-top: 20px;
	}
	.wrapper-content>.row {
		margin: auto 0;
		width: 100%;
	}
	.cont-autor {
		top: -140px;
	}
	.img-autor {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.p-autor {
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
	}
	.item {
		float: left;
		display: block;
		width: 300px;
		height: 300px;
		margin: auto calc((100% - 600px)/4) 75px;
		overflow: visible;
		position: relative;
	}

	.ver_mas {
		margin-top: 0;
		left: 33%;
		top: 315px;
	}
	.mas_blogs {
		left: 43%;
	}
	.blog {
		width: 100%;
		margin: 0 auto;
	}
	.rrssb-buttons li a .rrssb-icon {
		height: 40px !important;
    width: 40px !important;
		top: -4px !important;
		left: 8px !important;
		z-index: 2;
    position: relative !important;
    background-color: #e0e0e0;
    border-radius: 50%;
	}
	.rrssb-buttons li a {
		background-color: transparent !important;
		width: 100% !important;
		height: 35px !important;
		padding: 0px 0 !important;
		margin: 0 calc((303px - 180px)/8) 0 0 !important;
	}
	.rrssb-buttons {
    width: 100% !important;
	    max-width: 750px;
	}
	.rrssb-buttons li.rrssb-email a .rrssb-icon svg path {
		fill: #0a88ff;
	}
	.rrssb-buttons li.rrssb-facebook a .rrssb-icon svg path {
		fill: #306199;
	}
	.rrssb-buttons li.rrssb-twitter a .rrssb-icon svg path {
		fill: #26c4f1;
	}
	.rrssb-buttons li.rrssb-googleplus a .rrssb-icon svg path {
		fill: #e93f2e;
	}
	.rrssb-buttons li.rrssb-print a .rrssb-icon svg path {
		fill: #fff;
	}
	.rrssb-buttons li.rrssb-whatsapp a .rrssb-icon svg path {
		fill: #43d854;
	}
	.rrssb-buttons li a .rrssb-icon svg {
    height: 25px !important;
    margin-left: 4px !important;
    width: 20px !important;
		z-index: 1;
	}
	.rrssb-buttons li a .rrssb-text {
		color: #fff;
		background-color: blueviolet;
		position: relative;
		top: 14px;
		z-index: 1;
		border-radius: 37px;
		top: -45px;
		left: -2px;
		line-height: 40px;
		display: block;
		height: 42px;
		width: fit-content;
		padding: 0 10px 0 45px;
		margin: auto;
}
.rrssb-buttons li {
	margin: auto !important;
	padding: 10px 0px !important;
}
	/*edit profile*/
	.perfil {
		margin-top: 30px;
		margin-bottom: 15px;
		width: 100%;
		height: 130px;
		background-color: #EAEAEA;
		padding: 10px;
	}
	.perfil img {
		float: left;
		margin-right: 20px;
		margin-top: 5px;
	}
	.perfil p {
		width: 100%;
		height: 10px;
		text-align: left;
	}
	.perfil h5 {
		width: 100%;
		height: 10px;
		text-align: left;
		color: #015DA4;
		font-size: 1.5em;
	}
	.plugin-fb {
		width: 90%;
		position: relative;
		display: inline-block;
		text-align: center;
		float: right;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	/*End profile*/
	/*load categorias*/
	.cont-categoria {
		float: left;
		width: 100%;
		height: auto;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.box-item {
		float: left;
		width: 100%;
		margin-bottom: 10px;
		display: inline-block;
	}
	.box-item p {
		float: left;
		width: 80%;
		display: inline-block;
		font-size: 1.5em;
	}
	.box-item a {
		text-decoration: none;
	}
	.box-item a:hover {
		text-decoration: none;
		color: #0B84F5;
	}
	.img-cat {
		float: left;
		width: 80%;
		height: 130px;
		height: auto;
		margin-bottom: 5px;
		display: inline-block;
	}
	.portada {
		width: 100%;
		height: 400px;
		overflow: hidden;
		padding: 0px;
		position: relative;
	}
	.portada-destacado {
		width: 100%;
		height: 550px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		margin-top: 70px;
		position: relative;
	}
	.destacado {
		width: 70%;
		height: 550px;
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		top: 0px;
		left: 14%;
		opacity: 0.7;
	}
	.btn-search-blog {
		display: block;
		width: 400px;
		top: 130px;
		left: 0;
		margin: auto;
		position: relative;
	}
	.aside {
		margin-top: 50px;
		width: 100%;
		height: 1100px;
		overflow: auto;
		padding-right: 10px;
	}
	.asideB {
		margin-top: 50px;
		width: 100%;
		height: 1800px;
		overflow: auto;
		padding-right: 10px;
	}
	.user {
		width: 400px;
		height: 150px;
		top: -50px;
		left: 50%;
		margin-left: -200px;
	}
	.wrapper_nota {
		padding: 0 10%;
	}
	.colorGradient {
    height: 60px;
    top: -84px;
	}
	.colorBlack {
		 top: -84px;
	}
	.fecha {
    margin-top: 3%;
	}
	.img-PB {
		width: 100%;
		height: auto;
		z-index: -1;
		position: relative;
	}
	#frm-comentarios label {
    font-size: 18px;
	}
	#guardar {
		font-size: 15px;
	}
	.share {
		font-size: 18px;
		top: -20px;
		padding: 5px 20px;
	}
	.box-title {
		width: 80%;
    height: 180px;
    top: 110px;
    left: 10%;
	}
	.box-title h1 {
		font-size: 3em;
	}
	.autor_name {
		margin: 8px 0 0;
		font-size: 16px;
	}
	.autor_puesto {
		font-size: 14px;
	}
	.nota {
		width: 100%;
		margin: 0px;
	}
	.ulCat {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.ulCat li {
		font-size: 1.5em;
	}
	.ulCat li a {
		display: block;
		padding: 5px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0px;
		font-family: Arial;
		color: #3d3d3d;
		font-size: 20px;
		background: #e6e6e6;
		padding: 10px 20px 10px 20px;
		text-decoration: none;
	}
	.ulCat li a:hover {
		background: #629FB7;
		text-decoration: none;
	}
	.ulAutor {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.ulAutor li {
		margin: 10px;
	}
	.ulAutor .nombre {
		font-weight: bold;
		font-size: 1em;
	}
	.ulAutor .puesto {
		font-size: 0.8em;
	}
	.aslide h3 {
		text-align: center;
	}
	.item-notRel {
		float: left;
		display: block;
		width: 46%;
		height: 360px;
		margin: 10px;
		overflow: hidden;
	}
	.item-notRel .cat {
		text-align: center;
	}
	.item-notRel h2 {
		text-align: center;
		width: 100%;
		display: block;
		font-size: 1.2em;
	}
	.item-notRel .desc-corta {
		text-align: center;
		width: 100%;
		display: block;
	}
	.item-notRel .fecha {
		text-align: center;
		width: 100%;
		display: block;
	}
}

/*Desktop*/

@media (min-width: 992px) {
	.btn-back {
		margin-top: 40px;
		-webkit-border-radius: 20;
		-moz-border-radius: 20;
		border-radius: 20px;
		color: #ffffff;
		font-size: 17px;
		background: #ebab2c;
		padding: 10px 20px 10px 20px;
		text-decoration: none;
		display: block;
		position: relative;
		width: 110px;
	}
	.btn-back:hover {
		background: #fc8f3c;
		text-decoration: none;
		color: #ffffff;
	}
	.portada-destacado {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.portada-destacado>.row {
		width: 100%;
	}
	.mas_blogs {
		left: 46%;
	}
	.img-autor {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.extracto {
		width: 25%;
		float: right;
		vertical-align: middle;
		position: relative;
		background-color: #333334;
		color: #fff;
		padding: 75px 25px 75px 75px;
		font-family: nexa_light;
		border-radius: 75px 0 0 75px;
	}
	.autor_img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 40px;
		width: 115px !important;
		height: 115px;
		position: absolute;
		top: 25%;
		left: -22%;
		-webkit-box-shadow: -1px 4px 17px -5px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: -1px 4px 17px -5px rgba(0, 0, 0, 0.75);
		box-shadow: -1px 4px 17px -5px rgba(0, 0, 0, 0.75);
	}

	.ir_nota {
		background-color: #e0e0e0;
		border-radius: 25px;
		font-family: nexa_bold;
		border: none;
		color: #000;
		padding: 4px 10px;
		position: relative;
		display: block;
		margin: auto;
	}
	.p-autor {
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
	}
	.item {
    width: 300px;
    height: 300px;
    margin: auto calc((100% - 900px)/6) 75px;
	}
	.ver_mas {
		top: 312px;
	}
	.item .cat {
		text-align: center;
	}
	.item h2 {
		text-align: center;
		width: 100%;
		display: block;
		font-size: 1.2em;
	}
	.item .desc-corta {
		text-align: center;
		width: 100%;
		display: block;
	}
	.item .fecha {
		text-align: center;
		width: 100%;
		display: block;
	}
	.blog {
		width: 100%;
		margin: 0 auto;
	}
	/*edit profile*/
	.perfil {
		margin-top: 30px;
		margin-bottom: 15px;
		width: 100%;
		height: 130px;
		background-color: #EAEAEA;
		padding: 10px;
	}
	.perfil img {
		float: left;
		margin-right: 20px;
		margin-top: 5px;
	}
	.perfil p {
		width: 100%;
		height: 10px;
		text-align: left;
	}
	.perfil h5 {
		width: 100%;
		height: 10px;
		text-align: left;
		color: #015DA4;
		font-size: 1.5em;
	}
	.plugin-fb {
		width: 90%;
		position: relative;
		display: inline-block;
		text-align: center;
		float: right;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.cont-categoria {
		float: left;
		width: 100%;
		height: auto;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.box-item {
		float: left;
		width: 50%;
		margin-bottom: 10px;
		display: inline-block;
	}
	.box-item p {
		float: left;
		width: 80%;
		display: inline-block;
		font-size: 1.5em;
	}
	.box-item a {
		text-decoration: none;
	}
	.box-item a:hover {
		text-decoration: none;
		color: #0B84F5;
	}
	.img-cat {
		float: left;
		width: 80%;
		height: 130px;
		height: auto;
		margin-bottom: 5px;
		display: inline-block;
	}
	.portada {
		width: 100%;
		height: 500px;
		overflow: hidden;
		padding: 0px;
		position: relative;
	}
	.destacado {
		left: 0;
	}
	.aside {
		margin-top: 50px;
		width: 100%;
		height: 1100px;
		overflow: auto;
		padding-right: 10px;
	}
	.asideB {
		margin-top: 50px;
		width: 100%;
		height: 1800px;
		overflow: auto;
		padding-right: 10px;
	}
	.user {
		width: 400px;
		height: 150px;
		position: absolute;
		top: -50px;
		left: 50%;
		margin-left: -200px;
		z-index: 4;
		text-align: center;
		color: #FFF;
	}
	.colorBlack {
      height: 115px;
	}
	.img-PB {
		width: 100%;
		height: auto;
		z-index: -1;
		position: relative;
		filter: blur(10px);
		-webkit-filter: blur(10px);
		-moz-filter: blur(10px);
	}
	.box-title {
		width: 100%;
		padding: 50px;
		height: 200px;
		position: absolute;
		top: 150px;
		z-index: 4;
	}
	.box-title h1 {
		font-size: 3em;
	}
	.nota {
		width: 100%;
		padding-left: 10%;
		padding-right: 40px;
		/*background-color: #0080FF;*/
	}

	#cat {
		float: right;
	}
	.ulCat {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.ulCat li {
		font-size: 1.5em;
	}
	.ulCat li a {
		display: block;
		padding: 5px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0px;
		font-family: Arial;
		color: #3d3d3d;
		font-size: 20px;
		background: #e6e6e6;
		padding: 10px 20px 10px 20px;
		text-decoration: none;
	}
	.ulCat li a:hover {
		background: #629FB7;
		text-decoration: none;
	}
	.ulAutor {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.ulAutor li {
		margin: 10px;
	}
	.ulAutor .nombre {
		font-weight: bold;
		font-size: 1em;
	}
	.ulAutor .puesto {
		font-size: 0.8em;
	}
	.aslide {}
		.aslide h3 {
			text-align: center;
		}
		.item-notRel {
			float: left;
			display: block;
			width: 31%;
			height: 360px;
			margin: 10px;
			overflow: hidden;
		}
		.item-notRel .cat {
			text-align: center;
		}
		.item-notRel h2 {
			text-align: center;
			width: 100%;
			display: block;
			font-size: 1.2em;
		}
		.item-notRel .desc-corta {
			text-align: center;
			width: 100%;
			display: block;
		}
		.item-notRel .fecha {
			text-align: center;
			width: 100%;
			display: block;
		}
	}

	@media (min-width: 1200px) {
		.item {
			margin: auto calc((100% - 900px)/6) 75px;
		}
		.extracto {
			padding: 90px 25px 90px 75px;
		}
		.ver_mas {
	    top: 310px;
	    left: 33%;
		}
		.mas_blogs {
			left: 45%;
		}
	}

	@media (min-width: 1600px) {
		.item {
			margin: auto calc((100% - 900px)/6) 75px;
		}
	}

	@media (min-width: 1920px) {
		.item {
			width: 285px;
			height: 285px;
			margin: auto calc((100% - 1140px)/8) 75px;
		}
		.item:nth-of-type(3n) {
			margin: auto calc((100% - 1140px)/8) 75px;
		}
		.item:nth-of-type(4n) {
			margin-right: 0;
		}
		.ver_mas {
			top: 310px;
			left: 32%;
		}
		.mas_blogs {
			left: 47%;
		}
	}
