@font-face {
    font-family: "Gotham-Black";
    src: url(../fonts/Gotham-Black.ttf) format("truetype");
}
@font-face {
    font-family: "Gotham-BlackItalic";
    src: url(../fonts/Gotham-BlackItalic.ttf) format("truetype");
}
@font-face {
    font-family: "Gotham-Bold";
    src: url(../fonts/Gotham-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Gotham-Medium";
    src: url(../fonts/Gotham-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Gotham-Light";
    src: url(../fonts/Gotham-Light.ttf) format("truetype");
}
.contador {
    display: inline-block;
    text-align: center;
    margin: 10px;
    margin-left: -12px;
    padding-left: 0;
    font-family: "Gotham-Medium";
    bottom: 0;
    padding: 5px 8px;
    color: #000;
    font-size: 22px;
    border-bottom: solid 1px #03977a;
    width: 10%;
}
.iconos_redes{
	text-align: center;
}
.iconos_redes strong{
	text-align: center;
	color: #03977a;
	font-size: 40px;
	font-family: "Gotham-Bold";
}
.iconos_redes span{
	top: 0;

}
.iconos_redes b{
	color: #03977a;
	font-size: 50px;
	text-shadow: 5px 5px 10px #00000075;

}
.contador_redes_individual{
	width: 30%;
	border-radius:50%;
    box-shadow: 5px 5px 10px #00000075;
	cursor: pointer;
	

}
.contador_redes_individual:hover{
	opacity: .9;
	
	

}