@font-face {
    font-family: "Gotham-Bold";
    src: url(../fonts/Gotham-Bold.ttf) format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}


body{
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

nav{
  z-index: 9;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
footer{
  height: auto;
  background-color: #332f2e;
  color: #FFF;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 0.9em;
  font-weight: 400;
}

#btn_nosotros{
  cursor: pointer;
}
#btn_servicio{
  cursor: pointer;
}
.sombra_transparente{
  width: 100%;
  height: 50vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(104,143,5,0));
  z-index: 1;
  position: absolute;
}
.clearfix{
  height: 15%;
}

.seccionToggle a {
  color: #FFF;
}

.wrap {
  width: 100%;
  margin: auto; 
}

.main {
  width: 100%;
}



.seccionToggle {
  display: none;
  position: fixed;
  color: #FFF;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0,0,0,0.8);
  top: 0px;
  padding-top: 115px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


.btn-menu{
  position: absolute;
  top:3px;
  right: 7px;
  border: 0px;
}


.btn-toggle {
  position: fixed;
  float: right;
  top: 0px;
  padding-right: 0px;
  width: 100%;
  z-index: 9;
  height: 70px;
  line-height: 50px;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  display: block;
  background: #656565;
  text-align: right;
}
.btn-toggle .opaque{

  background: #650005;

}


.btn-toggle:hover {
  text-decoration: none; 
}





#nav ul{
  list-style-type: none;
  text-align: center;
  display: block;
}

#nav li{
  display: inline;
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
  float: left;
  font-size: 1.5em;
  margin-top: 0px;
  padding-top:7px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#nav li a {
 padding: 26px 20px 26px 20px;
 color: #ffffff;
 border: 0px solid #ccc;
 text-decoration: none;
 
}

#nav li a:hover{
 background-color: #414040;
 color: #ACD1D1;
}


/*Menu Responsive*/
.brand{
  position: absolute;
  display: block;
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
}



.desktop .tablet .movil{
  margin: 0 auto;
}

.img-men{
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
}

.title-men{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

}

.desc-men{
  text-align: left;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}


.btn-menu{
  position: relative;
  display: none;
}



.imgTk{
  margin: 0 auto;
  width: 80%;
}

.msgTk{
  display: none;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  font-size: 2em;
}

/*identidad */
.cont1 a{
  text-decoration:none;
  display: block;
}

.cont1 a:hover{
  color: #ff7680;
}


/*mkt*/
.cont2 a{
  text-decoration:none;
  display: block;
}

.cont2 a:hover{
  color: #e2a532;
}


/* multimedia */
.cont3 a{
  text-decoration:none;
  display: block;
}

.cont3 a:hover{
  color: #f39263;
}


/* editorial */
.cont4 a{
  text-decoration:none;
  display: block;
}

.cont4 a:hover{
  color: #6ec1b1;
}


/* web */
.cont5 a{
  text-decoration:none;
  display: block;
}

.cont5 a:hover{
  color: #567bbf;
}


/* blog */
.cont6 a{
  text-decoration:none;
  display: block;
}

.cont6 a:hover{
  color: #46af49;
}


/* pantalla */
.cont7 a{
  text-decoration:none;
  display: block;
}

.cont7 a:hover{
  color: #e2bf2d;
}


/* portafolio */
.cont8 a{
  text-decoration:none;
  display: block;
}

.cont8 a:hover{
  color: #c23e5a;
}


/*Contacto*/
.cont9 a{
  text-decoration:none;
  display: block;
}

.cont9 a:hover{
  color: #8e2626;
}



@media (max-width: 349px) {


  .btn-toggle {
    background: #F37A7A;
  }

  .seccionToggle {
    margin-top: 35px;
    border-bottom: 4px solid #F37A7A;
    padding-top: 50px;
  }

  .btn-menu{
    position: absolute;
    right: 15px;
    top: 5px;
  }



  .brand-datos{
    display: none;
  }

  .desc-men{
    display: none;
  }


  .title-men{
    display: inline-block;
    font-size: 10px;
    text-align: center;
    font-size: 1.5em;
    display: block;
  }

  .cont1{
    width: 100%;
    height: 50px;
    /*background-color: #EFEA92;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 0px;
    position: relative;
    padding: 10px;
  }

  .cont2{
    width: 100%;
    height: 50px;
    /*background-color: #F29D9D;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 0px;
    position: relative;
    padding: 10px;
  }

  .cont3{
    width: 100%;
    height: 50px;
    /*background-color: #8AD2F7;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 0px;
    position: relative;
    padding: 10px;
  }


  .cont4{
    width: 100%;
    height: 50px;
    /*background-color: #92EF9F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 0px;
    position: relative;
    padding: 10px;
  }

  .cont5{
    width: 100%;
    height: 50px;
    /*background-color: #874A7F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 0px;
    position: relative;
    padding: 10px;
  }

  .cont6{
    width: 100%;
    height: 50px;
    /*background-color: #6AA635;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 0px;
    position: relative;
    padding: 10px;
  }


  .cont7{
    width: 100%;
    height: 50px;
    /*background-color: #92EF9F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 0px;
    position: relative;
    padding: 10px;
  }

  .cont8{
    /*width: 100%;
    height: 50px;
    display: inline-block;
    float: left;
    text-align: center;
    margin: 0px;
    position: relative;
    padding: 10px;*/
    display: none;
  }

  .cont9{
    width: 100%;
    height: 50px;
    /*background-color: #6AA635;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin-top: 30px;
    position: relative;
    padding: 10px;
  }

  .search-nav{
    width: 100%;
    height: 60px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #808080;
    font-size: 1em;
    text-align: center;
  }

  .btn-search{
    margin-top: -50px;
    margin-bottom: 30px;
    text-align: left;
    height: 350px;
    padding: 50px;
    padding-right: 50%;
  }

  .menu-nav{
    display: none;
  }

  .cont-icon{
    width: 100px;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding-left: 15px;
    height: 32px;
  }

  .ico-nav{
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;
  }

  .caja-redes {
    margin: 0 auto;
    padding: 15px;
    position: relative;
    width: 100%;
  }

  .caja-redes a {
    text-align: center;
    font-size: 20px;
  }


  .ft-logo{
    width:217px;
    height: 83px; 
    position: absolute;
    right: 50%;
    top: 40px;
    margin-right: -108px;
  }

  .copy{
    position: absolute;
    width: 217px;
    right: 50%;
    top: 170px;
    margin-right: -108px;
    text-align: center;
  }




  .sitemap{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 2em;
    margin-top: 20px;
    padding-left: 1px;
    height: 25px;
    position: relative;
  }

  .ft-site{
    text-align: left;
    margin-top: 20px;
    font-size: 1em;
  }

  .ft-site li{
    list-style: none;
    background-image: url("../img/ico/ico-list.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px; 
    padding-top: 0px;
    float: left;
    width: 100%;
    margin: 10px;
    display: block;
  }


  .ft-site li a {
    text-decoration: none;
    color:#B3B3B3;
    display: block;
  }

  .ft-site li a:hover {
    color:#0BD590;
  }
  
}


@media (min-width: 350px) and (max-width: 399px) {

  .btn-toggle {
    background: #6EC180;
  }

  .seccionToggle {
    margin-top: 5px;
    border-bottom: 4px solid #6EC180;
  }

  .btn-menu{
    position: absolute;
    right: 30px;
    top: 5px;
  }

  .movil{
    width: 300px;
    margin: 0 auto;
    margin-top: -20px;

  }

  .brand-datos{
    display: none;
  }

  .desc-men{
    display: none;
  }


  .title-men{
    display: inline-block;
    font-size: 10px;
    text-align: center;
    font-size: 1.5em;
    display: block;
  }

  .cont1{
    width: 100%;
    height: 50px;
    /*background-color: #EFEA92;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 5px;
    position: relative;
    padding: 10px;
  }

  .cont2{
    width: 100%;
    height: 50px;
    /*background-color: #F29D9D;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 5px;
    position: relative;
    padding: 10px;
  }

  .cont3{
    width: 100%;
    height: 50px;
    /*background-color: #8AD2F7;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 5px;
    position: relative;
    padding: 10px;
  }


  .cont4{
    width: 100%;
    height: 50px;
    /*background-color: #92EF9F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 5px;
    position: relative;
    padding: 10px;
  }

  .cont5{
    width: 100%;
    height: 50px;
    /*background-color: #874A7F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 5px;
    position: relative;
    padding: 10px;
  }

  .cont6{
    width: 100%;
    height: 50px;
    /*background-color: #6AA635;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 5px;
    position: relative;
    padding: 10px;
  }


  .cont7{
    width: 100%;
    height: 50px;
    /*background-color: #92EF9F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 5px;
    position: relative;
    padding: 10px;
  }

  .cont8{
    width: 100%;
    height: 50px;
    /*background-color: #874A7F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 5px;
    position: relative;
    padding: 10px;
  }

  .cont9{
    width: 100%;
    height: 50px;
    /*background-color: #6AA635;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 5px;
    position: relative;
    padding: 10px;
  }

  .search-nav{
    width: 100%;
    height: 60px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #808080;
    font-size: 1em;
    text-align: center;
  }

  .btn-search{
    width: 150px;
    height: 60px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #808080;
    font-size: 1em;
    margin-top: 10px;
  }

  .menu-nav{
    display: none;
  }


  .cont-icon{
    width: 100px;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding-left: 15px;
    height: 32px;
  }

  .ico-nav{
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;
  }

  .caja-redes {
    margin: 0 auto;
    padding: 15px;
    position: relative;
    width: 100%;
  }

  .caja-redes a {
    text-align: center;
    font-size: 20px;
  }



  .ft-logo{
    width:217px;
    height: 83px; 
    position: absolute;
    right: 50%;
    top: 40px;
    margin-right: -108px;
    
  }

  .copy{
    position: absolute;
    width: 217px;
    right: 50%;
    top: 170px;
    margin-right: -108px;
    text-align: center;
  }


  .sitemap{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 2em;
    margin-top: 20px;
    padding-left: 1px;
    height: 25px;
    position: relative;
  }


  .ft-site{
    text-align: left;
    margin-top: 20px;
    font-size: 1em;
  }

  .ft-site li{
    list-style: none;
    background-image: url("../img/ico/ico-list.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px; 
    padding-top: 0px;
    float: left;
    width: 100%;
    margin: 10px;
    display: block;
  }


  .ft-site li a {
    text-decoration: none;
    color:#B3B3B3;
    display: block;
  }

  .ft-site li a:hover {
    color:#0BD590;
  }
  


}

@media (min-width: 400px) and (max-width: 767px) {


  .btn-toggle {
    background: #537ABC;
    height: 110px;
  }

  .btn-menu{
    position: absolute;
    right: 30px;
    top: 5px;
  }

  .seccionToggle {
    margin-top: 20px;
    border-bottom: 4px solid #537ABC;
  }

  .desc-men{
    display: none;
  }

  .desktop{
    display: none;
  }

  .movil{
    width: 100%;
    margin: 0 auto;
  }

  .brand-datos{
    position: absolute;
    display: block;
    text-align: right;
    right: 38px;
    top: 60px;
  }


  .line{
    display: none;
  }

  .img-men{
    display: inline-block;
    text-align: left;
    margin-right: 10px;
  }

  .title-men{
    display: inline-block;
    font-size: 10px;
    text-align: center;
    font-size: 1.5em;
    display: block;
  }



  .cont1{
    width: 100%;
    height: 50px;
    /*background-color: #EFEA92;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont2{
    width: 100%;
    height: 50px;
    /*background-color: #F29D9D;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont3{
    width: 100%;
    height: 50px;
    /*background-color: #8AD2F7;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }


  .cont4{
    width: 100%;
    height: 50px;
    /*background-color: #92EF9F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont5{
    width: 100%;
    height: 50px;
    /*background-color: #874A7F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont6{
    width: 100%;
    height: 50px;
    /*background-color: #6AA635;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }


  .cont7{
    width: 100%;
    height: 50px;
    /*background-color: #92EF9F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont8{
    width: 100%;
    height: 50px;
    /*background-color: #874A7F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont9{
    width: 100%;
    height: 50px;
    /*background-color: #6AA635;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .search-nav{
    width: 60%;
    height: 60px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #808080;
    font-size: 1em;
    text-align: center;
  }

  .btn-search{
    width: 150px;
    height: 60px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #808080;
    font-size: 1em;
    margin-top: -5px;
  }

  .menu-nav{
    display: none;
  }


  .cont-icon{
    width: 100px;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding-left: 15px;
    height: 32px;
  }

  .ico-nav{
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;
  }

  .caja-redes {
    position: relative;
    width: 100%;
  }

  .caja-redes a {
    text-align: center;
    font-size: 20px;
  }


  .ft-logo{
    width:310px;
    height: 119px; 
    position: absolute;
    right: 50%;
    top: 40px;
    margin-right: -155px;

  }

  .copy{
    position: absolute;
    width: 310px;
    right: 50%;
    top: 170px;
    margin-right: -155px;
    text-align: center;
  }



  .sitemap{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 2em;
    margin-top: 20px;
    padding-left: 1px;
    height: 25px;
    position: relative;
  }

  .ft-site{
    text-align: left;
    margin-top: 20px;
    font-size: 1em;
  }

  .ft-site li{
    list-style: none;
    background-image: url("../img/ico/ico-list.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px; 
    padding-top: 0px;
    float: left;
    width: 100%;
    margin: 10px;
    display: block;
  }


  .ft-site li a {
    text-decoration: none;
    color:#B3B3B3;
    display: block;
  }

  .ft-site li a:hover {
    color:#0BD590;
  }



}



@media (min-width: 768px) and (max-width: 1199px) {


  .brand-datos{
    position: absolute;
    display: block;
    text-align: right;
    right: 90px;
    top: 7px;
  }


  .btn-toggle {
    background: #F28F62;
  }

  .seccionToggle {
    border-bottom: 4px solid #F28F62;
  }

  .title-men{
    font-size: 20px;
    display: block;
  }

  .desc-men{
    display: none;
  }

  .line{
    display: none;
  }

  .movil{
    width: 660px;
    background-color: #0CF9CF;
    margin: 0 auto;
  }

  .cont1{
    width: 100%;
    height: 50px;
    /*background-color: #EFEA92;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont2{
    width: 100%;
    height: 50px;
    /*background-color: #F29D9D;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont3{
    width: 100%;
    height: 50px;
    /*background-color: #8AD2F7;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }


  .cont4{
    width: 100%;
    height: 50px;
    /*background-color: #92EF9F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont5{
    width: 100%;
    height: 50px;
    /*background-color: #874A7F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont6{
    width: 100%;
    height: 50px;
    /*background-color: #6AA635;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }


  .cont7{
    width: 100%;
    height: 50px;
    /*background-color: #92EF9F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont8{
    width: 100%;
    height: 50px;
    /*background-color: #874A7F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont9{
    width: 100%;
    height: 50px;
    /*background-color: #6AA635;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .search-nav{
    width: 60%;
    height: 60px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #808080;
    font-size: 1em;
    text-align: center;
  }

  .btn-search{
    width: 150px;
    height: 60px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #808080;
    font-size: 1em;
    margin-top: -5px;
  }

  .cont-icon{
    width: 100px;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding-left: 15px;
    height: 32px;
  }

  .ico-nav{
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;
  }

  .caja-redes {
    margin: 0 auto;
    padding: 15px;
    position: relative;
    width: 400px;
  }

  .caja-redes a {
    text-align: center;
    font-size: 20px;
  }

  .menu-nav{
    display: none;
  }

  .ft-logo{
    width:310px;
    height: 119px; 
    position: absolute;
    right: 50px;
    top: 50px;
  }

  .copy{
    position: absolute;
    right: 50px;
    top:250px;
    width: 100%;
    display: inline-block;
  }


  .sitemap{
    display: block;
    width: 80%;
    text-align: left;
    font-size: 2em;
    margin-top: 20px;
    padding-left: 1px;
    height: 25px;
    position: relative;
  }

  .ft-site{
    text-align: left;
    margin-top: 20px;
    font-size: 1.3em;
  }

  .ft-site li{
    list-style: none;
    background-image: url("../img/ico/ico-list.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px; 
    padding-top: 0px;
    float: left;
    width: 28%;
    margin: 10px;
  }


  .ft-site li a {
    text-decoration: none;
    color:#B3B3B3;
  }

  .ft-site li a:hover {
    color:#0BD590;
  }


}

@media (min-width: 1200px) {

  .menu-nav{
    position: absolute;
    top:0px;
    right: 400px;
    width: 600px;
    height: 70px; 
  }


  .btn-toggle {
    background: #16171900;
  }

  .seccionToggle {
    border-bottom: 4px solid #FFAE00;
  }

  .brand-datos{
    position: absolute;
    display: block;
    text-align: right;
    right: 90px;
    top: 7px;
  }

  .title-men{
    font-size: 20px;
    display: block;
  }

  .desc-men{
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 5px;
    margin-left: 100px;
  }

  .line{
    display: block;
    margin-left: 100px;
  }

  .cont1{
    width: 100%;
    height: 50px;
    /*background-color: #EFEA92;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont2{
    width: 100%;
    height: 50px;
    /*background-color: #F29D9D;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont3{
    width: 100%;
    height: 50px;
    /*background-color: #8AD2F7;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }


  .cont4{
    width: 100%;
    height: 50px;
    /*background-color: #92EF9F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont5{
    width: 100%;
    height: 50px;
    /*background-color: #874A7F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont6{
    width: 100%;
    height: 50px;
    /*background-color: #6AA635;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }


  .cont7{
    width: 100%;
    height: 50px;
    /*background-color: #92EF9F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont8{
    width: 100%;
    height: 50px;
    /*background-color: #874A7F;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .cont9{
    width: 100%;
    height: 50px;
    /*background-color: #6AA635;*/
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px;
  }

  .search-nav{
    width: 60%;
    height: 60px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #808080;
    font-size: 1em;
    text-align: center;
  }

  .btn-search{
    width: 150px;
    height: 60px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #808080;
    font-size: 1em;
    margin-top: -5px;
  }

  .cont-icon{
    width: 100px;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding-left: 15px;
    height: 32px;
  }

  .ico-nav{
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;
  }



  .caja-redes {
    margin: 0 auto;
    padding: 15px;
    position: relative;
    width: 400px;
  }

  .caja-redes a {
    text-align: center;
    font-size: 20px;
  }

  .ft-logo{
    width:310px;
    height: 119px; 
    position: absolute;
    right: 50px;
    top: 50px;
  }

  .copy{
    position: absolute;
    right: 50px;
    top:250px;
    width: 100%;
    display: inline-block;
  }



  .sitemap{
    display: block;
    width: 80%;
    text-align: left;
    font-size: 2em;
    margin-top: 20px;
    padding-left: 1px;
    height: 25px;
    position: relative;
  }

  .ft-site{
    text-align: left;
    margin-top: 20px;
    font-size: 1.3em;
  }

  .ft-site li{
    list-style: none;
    background-image: url("../img/ico/ico-list.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px; 
    padding-top: 0px;
    float: left;
    width: 28%;
    margin: 10px;
  }


  .ft-site li a {
    text-decoration: none;
    color:#B3B3B3;
  }

  .ft-site li a:hover {
    color:#0BD590;
  }






}

@media (min-width: 1900px) {
  .emoji-01 {
    position: absolute;
    top: 600px;
    left: 650px;
    z-index: 5;
  }
  .emoji-02 {
    position: absolute;
    top: 300px;
    left: 850px;
    z-index: 5;
  }
  .emoji-03 {
    position: absolute;
    top: 300px;
    left: 45px;
    z-index: 5;
  }
  .emoji-04 {
    position: absolute;
    top: 120px;
    left: 100px;
    z-index: 5;
  }

  .emoji-06 {
    position: absolute;
    top: 500px;
    left: 1150px;
    z-index: 5;
  }
  #movil{
    width: 50%;
    margin-left: 3%;
    position: absolute;
    z-index: 5;
   
  }

}
/*fin menu responsive*/



/*footer*/


/* Redes sociales*/
a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}




.icon-button {
  background-color: white;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  height: 3em;
  line-height: 3em;
  margin: 0 8px;
  position: relative;
  width: 3em;
}

.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 3em;
  height: 3em;
  border-radius: 3em;
  margin: -1.5em;
}
.linkedin span {
  background-color: #4393BB;
}
.pinterest span {
  background-color: #C92228;
}
.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.google-plus span {
  background-color: #db5a3c;
}

.icon-button i {
  background: none;
  color: white;
  left: -15px;
  line-height: 3em;
  position: absolute;
  top: -15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 3em;
  z-index: 2;
}
.icon-button .icon-linkedin {
  color: #4393BB;
  font-size: 1.5em;
}
.icon-button .icon-pinterest {
  color: #C92228;
  font-size: 1.5em;
}
.icon-button .icon-twitter {
  color: #4099ff;
  font-size: 1.5em;
}
.icon-button .icon-facebook {
  color: #3B5998;
  font-size: 1.5em;
}
.icon-button .icon-google-plus {
  color: #db5a3c;
  font-size: 1.5em;
}
.icon-button:hover .icon-linkedin, .icon-button:hover .icon-pinterest, .icon-button:hover .icon-twitter, .icon-button:hover .icon-facebook, .icon-button:hover .icon-google-plus {
  color: white;
  font-size: 1.5em;
}








/*Fin Footer*/