* {
  box-sizing: border-box;
}


html.modal-active, body.modal-active {
  overflow: hidden;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}
#modal-container.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven .modal-background .modal {
  height: 75px;
  width: 75px;
  border-radius: 75px;
  overflow: hidden;
  animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven .modal-background .modal h2, #modal-container.seven .modal-background .modal p {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn .5s 1.4s linear forwards;
}
#modal-container.seven.out {
  animation: slowFade .5s 1.5s linear forwards;
}
#modal-container.seven.out .modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeToRed 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven.out .modal-background .modal {
  border-radius: 3px;
  height: 162px;
  width: 227px;
  animation: killShot 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven.out .modal-background .modal h2, #modal-container.seven.out .modal-background .modal p {
  animation: modalContentFadeOut 0.5s 0.5 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 0;
}
.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background: red;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.content .buttons .button:hover {
  color: white;
  background: #009bd5;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3, #flexiselDemo4 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
    overflow: auto;
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
    bottom: 0px;
    border:0px solid #ccc;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;  
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item .contenedor_promo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    height: 47vh;
    margin: 20px;
    margin-bottom: 50px;
    /* margin-top: 10%; */
    overflow: hidden;

}
.nbs-flexisel-item .contenedor_promo:hover{

    
    transform: scale(1.05);
    /* margin-top: 10%; */
    /*overflow: hidden;*/

}
.nbs-flexisel-item .contenedor_ser{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 170%;
    height: 40vh;
    margin: 10px;
    /* margin-top: 10%; */
    overflow: hidden;

}
.nbs-flexisel-item .contenedor_ser h2{
    position: absolute;
    width: 95%;
    height: 20%;
    margin-right: 10px;
    padding: 10px;
    bottom: 20px;
    text-align: center;
    margin: 10px;
    right: 0;
    color: #fff;
    background: #4c05007d;
    font-family: MontserratAlternates-Medium;
}
.nbs-flexisel-item .contenedor_ser img{
    position: absolute;
    margin-top: 35%;
    left: 40%;
    width: 20%;
    opacity: 0;
}
.nbs-flexisel-item .contenedor_ser:hover>img{
    position: absolute;
    margin-top: 5%;
    /*transition-delay: .5s;*/
    /*transition-delay:.2s;*/
    width: 50%;
    left: 20%;
    opacity: 1;
}
.nbs-flexisel-item .contenedor_ser:hover>h2  {
   height: 100%;
    background: #4c05007d;
    margin-bottom: -10px;
    margin-top: 0px;
    padding-top: 70%;
    opacity: .8;
    background-repeat: no-repeat;
    /*transition-duration:.2s;*/
    /*transition:all .5s ease-in-out;*/
}
.nbs-flexisel-item .contenedor_ser:hover{
      background-size: 200%;
      /*transition-duration:.5s;*/
}
.nbs-flexisel-item .contenedor_ser p{
    position: relative;
    display: inline-block;

}
.nbs-flexisel-item .contenedor_inst{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-size: 170%;*/
    height: 40vh;
    margin: 10px;
    /* margin-top: 10%; */
    overflow: hidden;

}
.nbs-flexisel-item .contenedor_inst .sombreado_galeria_instalaciones{
    height: 100%;
    background: #4c05007d;
    margin-bottom: -10px;
    margin-top: 0px;
    opacity: .8;
    background-repeat: no-repeat;
    opacity: 0;
}
.nbs-flexisel-item .contenedor_inst .sombreado_galeria_instalaciones img {
    padding: 40%;
    opacity: 0;
}
.nbs-flexisel-item .contenedor_inst:hover{
    background-size: 200%;
    transition-duration:1s;
}
.nbs-flexisel-item .contenedor_inst:hover >.sombreado_galeria_instalaciones{
    padding: 40%;
    transition:all .5s ease-in-out;
    opacity: 1;
     
}
.nbs-flexisel-item .contenedor_inst .sombreado_galeria_instalaciones:hover>img{
    opacity: 1;
    padding: 10%;

}

.nbs-flexisel-item img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding: 8px 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 50px;
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.7);
    border: 1px solid;
    color: #fff;
    -webkit-color: #fff;
    font-size: 20px;   
}
.nbs-flexisel-nav-left:hover{
    background: rgba(0,0,0,1);
}
.nbs-flexisel-nav-right:hover{
 background: rgba(0,0,0,1);
}

.nbs-flexisel-nav-left {
    left: 10px;
}

.nbs-flexisel-nav-left:before {
    content: "<"
}

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 10px;    
}

.nbs-flexisel-nav-right:before {
    content: ">"
}

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}
@media only screen and (min-width: 900px)and (max-width: 1024px) {
    .nbs-flexisel-item{
        width: 365px !important;
    }
    .nbs-flexisel-item .contenedor_ser{
        height: 40vh;
        margin: 10px;
    }
    .nbs-flexisel-item .contenedor_promo{
        margin: 30px;
    }
    .nbs-flexisel-item .contenedor_inst{
        margin: 30px;
    }
}
@media only screen and (min-width: 650px) and (max-width: 850px)  {
    .nbs-flexisel-item{
        width: 353px !important;
    }
    .nbs-flexisel-item .contenedor_ser{
        height: 30vh;
        margin: 35px;
    }
    .nbs-flexisel-item .contenedor_promo{
        margin: 30px;
    }
    .nbs-flexisel-item .contenedor_inst{
        margin: 30px;
    }
    .nbs-flexisel-item .contenedor_ser h2{
        font-size: 25px;
    }
    .nbs-flexisel-item .contenedor_ser:hover>img{
        position: absolute;
        margin-top: 5%;
        /*transition-delay: .5s;*/
        /*transition-delay:.2s;*/
        width: 30%;
        left: 30%;
        opacity: 1;
    }
    .nbs-flexisel-item .contenedor_ser:hover>h2  {
        padding-top: 60%;
    }

}
@media only screen and (max-width: 649px) {

    .nbs-flexisel-item .contenedor_ser{
        height: 35vh;
        margin: 25px;
    }
    .nbs-flexisel-item .contenedor_ser h2{
        font-size: 20px;
    }

    .nbs-flexisel-item .contenedor_ser:hover>img{
        position: absolute;
        margin-top: 5%;
        /*transition-delay: .5s;*/
        /*transition-delay:.2s;*/
        width: 35%;
        left: 30%;
        opacity: 1;
    }
    .nbs-flexisel-item .contenedor_ser:hover>h2  {
        padding-top: 55%;
    }

}

@media only screen and (max-width: 360px) {
    .nbs-flexisel-item .contenedor_ser{
        height: 35vh;
        margin: 35px;
    }
    .nbs-flexisel-item .contenedor_ser h2{
        font-size: 20px;
    }
    .nbs-flexisel-item .contenedor_ser:hover>img{
        position: absolute;
        margin-top: 5%;
        /*transition-delay: .5s;*/
        /*transition-delay:.2s;*/
        width: 32%;
        left: 30%;
        opacity: 1;
    }
    .nbs-flexisel-item .contenedor_ser:hover>h2  {
        padding-top: 60%;
    }

    .nbs-flexisel-inner {
        bottom: 0px; 
    }
}